# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/server/node_modules
/client/node_modules
/.pnp
.pnp.js
/.cmd
/server/run.cmd
/client/run.cmd
/server/beerponghannover_db.sqlite
/.vscode
# testing
/coverage

# production
/build
/client/build
/server/Modules/Config/AuthenticationKey.js
/client/.env
/client/public/google45a0a0f5154446bc.html
/run-client.cmd.lnk
/run-server.cmd.lnk

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
