.tournamentList {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.tournamentName {
    float: left;
    font-size: 1.2rem;
}

.tournamentDate {
    float:right;
    font-size: 1.2rem;
}

.clear {
    clear: both;
}

.tournamentContent {
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.tournamentInfo {
    cursor: pointer;
}