.adminContent > * {
    background: #252829;
}
.subNav {
    width: 100%;
    background: #313536;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    max-height: 0px;
}

.subNavItems {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    text-align: center;
}

.subNavItems ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.subNavItems li {
    padding: 0 1.5rem;
}

.subNavItem {
    font-family: "Nunito";
    transition:all 0.5s linear;
    color:#efefef;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:200;
    font-style: normal;
    padding-bottom:5px;
    background: linear-gradient(to right,rgb(255, 255, 255) 0%,rgb(255, 255, 255) 100%);
    background-size:0px 0px;
    background-repeat: no-repeat;
    background-position:50% 85%;
    text-shadow:0;
    font-size: 1rem;
}

.subNavIndicator {
    background: #313536;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

@media (max-width: 1019px){

    .subNav.open {
        max-height: 300px;
    }

    .subNavItems {
        flex-direction: column;
    }

    .subNavItems li {
        margin: 1.5rem 0;
    }
}

@media (min-width: 1020px){
    .subNav {
        height: 56px;
        max-height: 56px;
    }

    .subNavItems ul {
        display: flex;
    }

    .subNavIndicator {
        display: none;
    }
}