.footer-main{
    text-align: center;
    background-color: #313536;
    color: #efefef;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -100;
}

.footer-main > * {
    z-index: -100;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: 1.8rem
}

.footer-item {
    padding: 0 1rem
}